@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url('./assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
